<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Juni</title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=1024">
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <header class="l-header">
    <div class="global-header">
      <h1 class="global-header__heading"><%= image_tag 'logo.jpg', width: '100' %>juni interior design &amp; work space</h1>
      <nav class="global-header__nav">
        <ul class="global-nav">
          <li><%= link_to 'interior', '#' %></li>
          <li><%= link_to 'shops', '#' %></li>
          <li><%= link_to 'apparel', '#' %></li>
          <li><%= link_to 'music', '#' %></li>
          <li><%= link_to 'photo', '#' %></li>
          <li><%= link_to 'movie', '#' %></li>
          <li><%= link_to 'other', '#' %></li>
          <li><%= link_to 'contact', '#' %></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="l-container">
    <%= yield %>
  </div>
  <footer class="l-footer">
  </footer>
</body>
</html>
